



.btn{
    color: white;
    background: #594f8d;
    padding: 0.9rem;
    border-radius: 0.18rem;
    border: none;
    outline: none;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 5px 0px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0,0, 0, 0.12) 0px 3px 1px -2px

  }
  .add-btn-form{
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 18rem;
    position: relative;
    left: 25rem;
    color: white;
    background: #594f8d;
    padding: 0.9rem;
    border-radius: 0.18rem;
    border: none;
    outline: none;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 5px 0px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0,0, 0, 0.12) 0px 3px 1px -2px
  }


.label-input .lbl{
    font-weight: bold;
    font-size: 1rem;
  }

/* Shape Post/ Meta */
  body {
    --menu-item-size: 50px;
    --mauve-color: #594f8d;
    --dark-mauve-color: #175b52;
    --white-color: #FFF;
    --gray-color: #EDEDED;
    --container-width: 700px;
    --container-height: 400px;
}

  .main-menu {
    display: block; 
    list-style: none;
    padding: 0.6em 0 0 0;
    text-align: left;
}

.main-menu > h2 {
    box-sizing: border-box;
    height: var(--menu-item-size);
    width: calc(3.5 * var(--menu-item-size));  
    line-height: var(--menu-item-size);
    padding: 0 2em;
    margin: 1px;
    background: var(--mauve-color);
    color: var(--dark-mauve-color);
    cursor: pointer;
    font-size: 16px;
    user-select: none;
}

.main-menu > h2:not(.with-submenu) {
    clip-path: polygon(10% 0%, 0% 100%, 95% 100%, 100% 50%, 95% 0%);
    shape-outside: polygon(10% 0%, 0% 100%, 95% 100%, 100% 50%, 95% 0%);
}

.main-menu i {
    margin-right: 5px;
}

.main-menu .active {
    color: var(--white-color);
    background: var(--mauve-color);
    cursor: default;
    text-shadow: 1px 1px 1px var(--dark-green-color);
    font-size: 18px;
}
/* Edit & Trash */
.fa-edit,.fa-trash{
	cursor: pointer;
}
/*  */





