.categ{
    width: 51% !important;
}
.formPost{
    display: flex;
    overflow: hidden;
}
.add-meta{
    width: 29rem !important;
}
.forms{
    width: 36rem !important;
    margin-right: 1.2rem;
}
.forms2{
    width: 32rem !important;
}

.add-post{
    width: 33rem !important;
}
.formsbtn{
	padding: 10px !important;
	text-align: center;
	margin-bottom: 10px;
}
.formsbtn .btn{
	width: 10rem;
}
.post-category-element{
    background: white;
    width: 98%;
    padding: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 5px 0px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0,0, 0, 0.12) 0px 3px 1px -2px
  }

  .post-category-element select{
    padding: 0.5rem;
}


.post-select select{
    padding: 0.5rem;
}

.post-text{
    padding: 3rem;
}
/* Add Tags Post */
@import url("https://fonts.googleapis.com/css?family=Overpass");

* {
	box-sizing: border-box;
	font-family: "Overpass", sans-serif;
}


/* Tags Input */
.tags-input {
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	min-height: 48px;
    width: 33rem;
	padding: 0 8px;
	border: 1px solid rgb(214, 216, 218);
	border-radius: 6px;
}
.tags-input:focus-within {
    border: 1px solid #594f8d;
}
.input-tags {
		flex: 1;
		border: none;
		height: 46px;
		font-size: 14px;
		padding: 4px 0 0 0;
		
	}
    .input-tags:focus {
        outline: transparent;
    }

#tags {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	margin: 8px 0 0 0;
}

.tag {
	width: auto;
	height: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	padding: 0 8px;
	font-size: 14px;
	list-style: none;
	border-radius: 6px;
	margin: 0 8px 8px 0;
    background: #594f8d;
}
	 
	.tag-close-icon {
		display: block;
		width: 16px;
		height: 16px;
		line-height: 16px;
		text-align: center;
		font-size: 14px;
		margin-left: 8px;
		color: #594f8d;
		border-radius: 50%;
		background: #fff;
		cursor: pointer;
	}


@media screen and (max-width: 567px) {
	.tags-input {
		width: calc(100vw - 32px);
	}
}

/* Input "File" */
.upload{
    margin-top: 4px;
    width: 33rem;
    color: #DADCE3;
    text-align: left;
    vertical-align: middle;
    height: 54px;
    padding: 20px 10px 20px 10px;
}

.upload .uploadselect{
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    margin-bottom: 5px;
    padding: 10px !important;
    font-weight: 400;
}

.btn{
    color: white;
    background: #594f8d;
    padding: 0.9rem;
    border-radius: 0.18rem;
    border: none;
    outline: none;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 5px 0px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0,0, 0, 0.12) 0px 3px 1px -2px

  }
.btn:hover{
    border:1px solid #594f8d;
    color:#594f8d;
    background: #fff;
}

.label-input .lbl{
    font-weight: bold;
    font-size: 1rem;
  }

/* Shape Post/ Meta */
  body {
    --menu-item-size: 50px;
    --mauve-color: #594f8d;
    --dark-mauve-color: #175b52;
    --white-color: #FFF;
    --gray-color: #EDEDED;
    --container-width: 700px;
    --container-height: 400px;
}

  .main-menu {
    display: block; 
    list-style: none;
    padding: 0.6em 0 0 0;
    text-align: left;
}

.main-menu > h2 {
    box-sizing: border-box;
    height: var(--menu-item-size);
    width: calc(3.5 * var(--menu-item-size));  
    line-height: var(--menu-item-size);
    padding: 0 2em;
    margin: 1px;
    background: var(--mauve-color);
    color: var(--dark-mauve-color);
    cursor: pointer;
    font-size: 16px;
    user-select: none;
}

.main-menu > h2:not(.with-submenu) {
    clip-path: polygon(10% 0%, 0% 100%, 95% 100%, 100% 50%, 95% 0%);
    shape-outside: polygon(10% 0%, 0% 100%, 95% 100%, 100% 50%, 95% 0%);
}

.main-menu i {
    margin-right: 5px;
}

.main-menu .active {
    color: var(--white-color);
    background: var(--mauve-color);
    cursor: default;
    text-shadow: 1px 1px 1px var(--dark-green-color);
    font-size: 18px;
}
/* Edit & Trash */
.fa-edit,.fa-trash{
	cursor: pointer;
}



