.addcategory-page-container{
    display: flex;
    flex-direction: column;
    background: white;
    width: 98%;
    padding: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 5px 0px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0,0, 0, 0.12) 0px 3px 1px -2px
    
}


.inner-container{
    width: 50%;
    margin: auto;
}

.inner-container input{
    width: 30.9rem;
    padding: 0.5rem;
}

.categP input{
    width: 32rem;
}
.categP textarea{
    width: 32rem;
}