@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Roboto');

:root{
  --main-bg-color: #594f8d;
}
  

                                    /* OVERVIEW SECTION */

.bar{
  background-color: var(--main-bg-color);
  color: white;
  padding: 1rem;
  width: 98%;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 5px 0px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0,0, 0, 0.12) 0px 3px 1px -2px;
  margin-top: 2rem;

}


.overview{
  display: flex;
  margin-top: 1rem;
  justify-content: space-between;
  width: 98%;
}

.stat-overview{
  background: white;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 5px 0px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0,0, 0, 0.12) 0px 3px 1px -2px;
  padding: 4rem 2rem;
  margin-bottom: 10px;
}



.top-elements{
  display: flex;
  justify-content: space-between;
  width: 12.5rem;
  position: relative;
  bottom: 1.8rem;
}

.number{
  font-size: 2rem;
}

.currency{
  font-size: 1.5rem;
}

.overview-icon{
  font-size: 2rem;
}

.stat-overview p{
  position: relative;
  top: 1rem;
  font-size: 1.2rem;
  font-weight: bolder;
}

.income{
  color: #f23247;
}

.feedback{
  color: #52d344;
}

.nbr-order{
  color: #5C9BD1;
}

.nbr-users{
  color:  #9081d7;
}
.icon-warning {
  color: #f0ad4e;
}

.top-elements {
  background-color: #FFFFFF;
  width: 260px;
    color: #252422;
    margin-bottom: 20px;
    position: relative;
    z-index: 1
}
.top-elements .icon-big,.icon-warning,.icon-pen {
  font-size: 3em;
  min-height: 64px;
}
.icon-big{
  color: #4aa7e8;

}
.icon-pen{
  color:#52d344
}
.top-elements .numbers {
  font-size: 2em;
  text-align: right;
}
p {
  font-size: 16px;
  line-height: 1.4em;
}
.top-elements .footer div {
  display: inline-block;
}
.top-elements .stats {
  color: #a9a9a9;
  font-weight: 300;
}
.plus{
  background-color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
}


.table {
  background-color: transparent;
  border-spacing: 0;
  border-collapse: collapse;

}
.thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}
