.mt{
    margin-top: 14px;
}
/* input number */
.number{
    width: 33rem !important;
    height: 42px !important;
    font-weight: lighter !important;
}
  
.number:focus {
    outline: 0;
}
/* button event */
.form-event {
    position: relative;
}
.form-event .btn-assoc{
    top: 20px;
    margin-bottom: 40px;
    right: 0;
    left: 30rem;
}


/* Timer */
.timer{
    display: flex;
}
.timer .inp{
    margin-right: 5px;
}
.mys{
    width: 33rem !important;
}
input[type=time] {
    border: none;
    color: #2a2c2d;
    font-size: 14px;
    font-family: helvetica;
    width: 160px;
  }
  .formPost{
      display: flex;
  }
  .forms3{
    width: 36rem !important;
    margin-right: 1.2rem;
}
.forms4{
    width: 33rem !important;
}