.mt{
    margin-top: 14px;
}
/* input number */
.number{
    width: 33rem !important;
    height: 42px !important;
    font-weight: lighter !important;
}
  
.number:focus {
    outline: 0;
}
/* button event */
.form-event {
    position: relative;
}
.form-event .btn-assoc{
    top: 20px;
    margin-bottom: 40px;
    right: 0;
    left: 30rem;
}

/* Input date */
::-webkit-inner-spin-button { 
    display:none;
}
  ::-webkit-calendar-picker-indicator { background-color:white}
  input[type="datetime-local"]{
    font-size: 17px;
    padding: 8px;
    font-weight: lighter;
}
  ::-webkit-datetime-edit-text { color:#555555}
  ::-webkit-datetime-edit-month-field { color:#555555 }
  ::-webkit-datetime-edit-day-field { color: #555555; }
  ::-webkit-datetime-edit-year-field { color:#555555; }
  ::-webkit-calendar-picker-indicator{
    background-image: url(http://icons.iconarchive.com/icons/dakirby309/simply-styled/256/Calendar-icon.png);
        background-position:center;
         background-size:20px 20px;
         background-repeat:no-repeat;
        color:rgba(204,204,204,0);
} 
.mys{
    width: 33rem !important;
}
  /* Formulaire */
  .formPost{
      display: flex;
  }
  .forms3{
    width: 36rem !important;
    margin-right: 1.2rem;
}
.forms4{
    width: 33rem !important;
}
/* Photo */
.MuiSvgIcon-root {
    position: relative;
    top: 5px;
}
/* Short Description */
.short .MuiInputBase-multiline {
    height: 80px;
}
/* Metat Title */
.meta_DK .MuiInputBase-multiline{
    padding: 18.5px 14px;
    height: 120px;
}