.assoc-form{
    background: white;
    width: 98%;
    padding: 4rem;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 5px 0px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0,0, 0, 0.12) 0px 3px 1px -2px;
    overflow: hidden;
}

.assoc-wrapper{
  
    display: flex;
}


.col {
    float: left;
    width: 50%;
    margin-bottom:2rem;
}

.col select{
    padding:0.3rem ;
    width: 13rem;
}

.col textarea{
    padding: 1rem ;
    width: 18rem;
}

.assoc-wrapper input,.assoc-wrapper select{
    width: 14rem;
    padding: 0.3rem;
}


#profile-pic-assoc{
    width: 300px;
    height: 300px;
    border-radius: 50%;

}

.picture-assoc{
    margin-right: 5rem;
    position: relative;
    top: 4rem;
}
/* Animation for button */
.btn-assoc{
    width: 14rem;
    position: relative;
    top: 2rem;
    height: 50px;
    border:1px solid #594f8d;
    outline: none;
    font-family:  Helvetica,Arial, sans-serif;
    left: 25rem;
    box-shadow: 0 0 0 25px #594f8d inset;
    transition: box-shadow .2s;
}
.btn-assoc > span {
    color: white;
    z-index: 2;
    transition: color .2s;
}
.btn-assoc:hover{
    cursor: pointer;
    box-shadow: 0 0 0 0 #594f8d inset;
    transition: box-shadow .2s;
    border: 1px solid #594f8d;
    background-color: white;
    transition: all .25s ease-in-out;
}
.btn-assoc:hover> span {
    color: #594f8d;
    transition: color .2s;
}
.assoc-edit{
    left: 5rem !important;
    top: -25rem !important;
}
.assoc-edit label {
    display: inline-block;
    width: 44px !important;
    height: 44px !important;
}
.assoc-edit label:after{
    font-size: 26px !important;
    top: 7px;
}