/* Date */
.dateR{
    display: flex;
}
.dateR .dateRe{
    margin-right: 14px;
}
/* Image Wrapper */
.mainImg{
    width: 100% !important;
    position: relative;
    left: 0 !important;
    box-sizing: border-box;
    margin-bottom: 10px;
}
.mainImg .rmvM{
    top:1.5rem !important;
    left: 28.2rem !important;
}
/* Button */
.BTNS{
    left: 0 !important;
    width: 100% !important;
}
/* Forms */
.side-seconds{
    overflow: hidden;
}

.mission-manip .fa-edit, .mission-manip .fa-trash{
    font-size: 24px;
}
/* Button Realisation */
.realisation .btn-assoc{
    top:0 !important;
    left:0 !important;
    width: 100% !important;
    height: 46px !important;
}
.realisation .btn-assoc:hover{
    color: #594f8d !important;
}