.btn{
    color: white;
    background: #594f8d;
    padding: 0.9rem;
    border-radius: 0.18rem;
    border: none;
    outline: none;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 5px 0px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0,0, 0, 0.12) 0px 3px 1px -2px

  }
  
.meta-table{
  margin-top: 1.8rem;
  display: flex;
  justify-content: space-between;
}

.meta-table-title{
    font-size: 1.25rem;
}

.meta-table-field{
  margin-right: 3.5rem;
  display: flex;
}

.meta-table-field input{
  padding-left: 0.2rem;
}

.search-icon{
  background: #594f8d;
  padding: 0.5rem;
  color:white;
  border-radius: 0.18rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 5px 0px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0,0, 0, 0.12) 0px 3px 1px -2px;
  margin-left: 0.2rem;
  cursor: pointer;
}

.table-prod{
    margin-top: 1.5rem;
}

 

                                              /* FORM */

.categories{
  display: flex;
  justify-content: left;
  position: relative;
  bottom: 0.5rem;
}

.product-category-element{
  background: white;
  width: 34rem;
  padding: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 5px 0px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0,0, 0, 0.12) 0px 3px 1px -2px
}

.product-category-element select{
    padding: 0.5rem;
}

.product-category-element select:focus{
  border: 2px solid #594f8d;
  border-radius: 2px;
  outline: #594f8d;
}



.sub-category{
  margin-left: 1.2rem;
}

.add-product-form{
  background: white;
  margin-top: 1rem;
  padding: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 5px 0px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0,0, 0, 0.12) 0px 3px 1px -2px;
  width: 69.2rem;
}

.form-flex-items{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.field{
  margin-right: 1rem;
}

.field select{
  width: 9rem;
  padding: 0.2rem 0rem;
}


.data-form{
    width: 9rem;
    padding: 0.5rem 0.5rem;
    outline: #594f8d;
    border: 1px solid #594f8d;
    margin-bottom: 1rem;
}
.data-form:focus{
  outline: #594f8d;
  border: 1px solid #594f8d;
  padding: 0.5rem 0rem;
}


.description-element{
  margin-top: 2rem;
}

.description-element textarea{
  padding-left: 0.5rem;
  padding-top: 0.6rem;
}

.description-element textarea:focus{
  outline: none;
  border: 1px solid #594f8d;
}


.btn-add-prod{
  color: white;
  background: #594f8d;
  padding: 0.9rem;
  border-radius: 0.18rem;
  border: none;
  outline: none;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 5px 0px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0,0, 0, 0.12) 0px 3px 1px -2px;
  margin-top: 1rem;
}

/* Tags Input */
.tags-input {
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	min-height: 48px;
	width: 480px;
	padding: 0 8px;
	border: 1px solid rgb(214, 216, 218);
	border-radius: 6px;
}
.tags-input:focus-within {
    border: 1px solid #594f8d;
}
.input-tags {
		flex: 1;
		border: none;
		height: 46px;
		font-size: 14px;
		padding: 4px 0 0 0;
		
	}
    .input-tags:focus {
        outline: transparent;
    }

#tags {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	margin: 8px 0 0 0;
}

.tag {
	width: auto;
	height: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	padding: 0 8px;
	font-size: 14px;
	list-style: none;
	border-radius: 6px;
	margin: 0 8px 8px 0;
    background: #594f8d;
}
	 
	.tag-close-icon {
		display: block;
		width: 16px;
		height: 16px;
		line-height: 16px;
		text-align: center;
		font-size: 14px;
		margin-left: 8px;
		color: #594f8d;
		border-radius: 50%;
		background: #fff;
		cursor: pointer;
	}


@media screen and (max-width: 567px) {
	.tags-input {
		width: calc(100vw - 32px);
	}
}
/* Input "File" */
.upload{
    margin-top: 4px;
    width: 320px;
    color: #DADCE3;
    text-align: left;
    vertical-align: middle;
    padding: 20px 10px 20px 10px;
}

.upload .uploadselect{
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    margin-bottom: 5px;
    padding: 10px !important;
    font-weight: 400;
}

.btng{
    padding: 18px;  
    margin-right: 5px; 
    color: #fff !important;  
    background-color: #594f8d !important;
}

.label-input .lbl{
  font-weight: bold !important;
  font-size: 1rem !important;
}

.large-selec{
  width: 60rem;
  margin-top: 1rem;
}
