
.side-second{
  align-self: flex-start;  
  padding-bottom: 2.5rem !important;
  padding-top: 2.5rem !important;

}

.currency-product{
  margin-left: 0.2rem;
}

.img-product-list{
  border: 2px solid black;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.meta-table{
  margin-top: 1.8rem;
  display: flex;
  justify-content: space-between;
}

.meta-table-title{
    font-size: 1.25rem;
}

.meta-table-field{
  margin-right: 3.5rem;
  display: flex;
}

.meta-table-field input{
  padding-left: 0.2rem;
}


.table-prod{
    margin-top: 1.5rem;
}

 



/* Input "File" */
.upload{
    margin-top: 4px;
    width: 320px;
    color: #DADCE3;
    text-align: left;
    vertical-align: middle;
    padding: 20px 10px 20px 10px;
}

.upload .uploadselect{
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    margin-bottom: 5px;
    padding: 10px !important;
    font-weight: 400;
}

