.inp{
    width: 14rem !important;
}
.table-User{
    margin-top: 1.5rem;
}
.metatable{
    height: 34px;
    margin-top: 20px;
}
/* Image */
.picture-assoc input{
    margin-top: 10px;
}
.user-edit{
    top: -4.2rem !important;
    left: 9rem !important;
}
.user-edit label {
    display: inline-block;
    width: 44px !important;
    height: 44px !important;
}
.user-edit label:after{
    font-size: 26px !important;
    top: 7px;
}
/* Date */
[type="date"] {
    background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
}
[type="date"]::-webkit-inner-spin-button {
    display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
}

/** Gender **/
.form-gender {
	display: flex;
	justify-content: space-around;
	width: 70%;
}

input[type="radio"] {
	opacity: 0;
	position: fixed;
	width: 0;
}

.gender {
	width: calc(100% / 3);
	height: 60px;
	position: relative;
    text-align: center;
}
.gender span {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.gender span::before {
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-variant-caps: normal;
    font-variant-ligatures: normal;
    font-weight: 900;
    height: 40px;
    width: 40px;
    text-rendering: auto;
    display: inline-block;
    font-size: 25px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    -webkit-font-smoothing: antialiased;
}
.male::before {
    content: "\f222";
}
.female::before {
    content: "\f221";
}
.other::before {
    content: "\f228";
}
input[type="radio"]:checked ~ span:before {
    background-color: #594f8d;
    color: white;
}
/* Pagination */
.pagination {
    margin: 15px auto;
    display: flex;
    list-style: none;
    outline: none;
    text-align: center;
    justify-content: center;
  }
  .pagination  li.active {
    background:#594f8d;
  color:#FFF;
  }
  .pagination  li {
  color:#594f8d;
  cursor:pointer;
  text-align:center;
  padding-left:10px;
  padding-right:10px;
  padding-top:9px;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin:5px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
   text-decoration: none;
  }
  .pagination  li:hover{
    text-decoration: none;
    background:#594f8d;
    color:#FFF;
  }
  .pagination li a{
    font-weight: bold;
    font-size:18px;
  }
.pagination li a:link{
    text-decoration: none;
  color:#594f8d;
}

/* input & label */
.row .label-input{
    width: 16rem !important;
    margin-right: 42px;
}