.addcategory-page-container{
    width: 98%;
}


.form-cat{
    background: white;
    padding: 2rem;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 5px 0px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0,0, 0, 0.12) 0px 3px 1px -2px;
    margin-top: 2rem;
    position: relative;
}

.category-items-flex{
    display: flex;
    justify-content: space-between;
}



.category-element{
    width: 30rem;
}

.category-element select{
    padding:0.5rem ;
}

#add-cat-input{
    padding: 0.5rem;
}

.add-cat-btn{
    padding: 0rem 0.9rem;
    color: white;
    background: #594f8d;
    border-radius: 0.18rem;
    border: none;
    outline: none;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 5px 0px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0,0, 0, 0.12) 0px 3px 1px -2px
}

.add-subcat-btn{
    padding: 0.9rem;
    margin-top: 3rem;
    margin-left: 25rem;
}

.catsform{
    padding-top: 2rem;
    padding-left: 8rem;
}

.large-inp{
    width: 60rem;
    padding: 0.5rem;
}

.field-lar{
    width: 12rem;
}

.data-form-lar{
    width: 10rem;
    padding: 0.5rem;
}